.review-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  margin-bottom: 150px;
}
.client-review {
  display: flex;
  align-items: center;
  border-bottom: 2px solid lightgray;
  margin-bottom: 5px;
}
.client-img img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.client-review p {
  margin-left: 15px;
}

@media only screen and (max-width: 576px) {
  .review-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
